html {
	font-size: 13px;
	box-sizing: border-box;
	font-family: "Fredoka One", sans-serif;
	/* background-color: #e38334; */
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
}

.darken {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.4;
	z-index: 1001;
}
@font-face {
	font-family: marigold;
	src: url("../font/marigold/MARIGOLD.OTF");
}
@keyframes smith-cj {
	0% {
		/* premiere animation effet de zoom */
		/* transform: scale(0.5); */

		/*Second test d'animation*/
		transform: rotateY(45deg);
	}
	25% {
		transform: rotateY(90deg);
	}
	50% {
		transform: rotateY(0deg);
	}

	75% {
		transform: rotateY(90deg);
	}

	100% {
		/* transform: scale(0.5); */
		transform: rotateY(45deg);
	}
}

#menu-hamburger {
	height: 100%;
	/* border: solid red 1px; */
	width: 220px;
	position: absolute;
	left: 0;
	top: 0;
}
#myLinks {
	display: none;
	border: solid #e38334;
	border-right: solid #e38360 1px;
	height: 100%;
	background-color: #e38334;
	width: 100%;
	position: relative;
	left: 0;
	padding-left: 5px;
	text-align: left;
	/* transition: opacity 10s ease-out;
	transform: translateX(20); */
}
.icon_div {
	position: fixed;
	z-index: 999;
}
#link__menu {
	margin-top: 40px;
	/* border: solid blue 1px; */
}
#hamburger {
	/* position: absolute; */
	position: absolute;
	width: 40px;
	cursor: pointer;
	left: 0;
}
#close-icon {
	/* border: solid red 1px; */
	position: absolute;
	right: 0;
}
#close {
	display: none;
}
a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

a.icon {
	/* background: black; */
	display: block;
	position: absolute;
	left: 9px;
	top: 10px;
}

a.link__page:hover {
	background-color: #e38334;
	color: rgb(63, 57, 57);
}

.active {
	background-color: #04aa6d;
	color: white;
}

.all__body__index {
	/* border: solid red 1px; */
	/* background-image: url("../image/etoile.jpg");
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	height: 100%; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.smith__image {
	/* border: solid blue 1px; */
	display: flex;
	justify-content: center;
}
.smith__name {
	height: auto;
	text-align: center;
	/* border: solid red 1px; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
#fond__acceuil {
	object-fit: cover;
	/* border: solid red 1px; */
	width: auto;
	overflow: hidden;
	width: 80%;
	height: 100%;
}
#dechirure {
	width: 90%;
	object-fit: contain;
	/* border: solid black 1px; */
	height: 100%;
	overflow: hidden;
}
#bounce__phrase {
	/* border: solid red 1px; */
	padding-top: 6%;
	/* color: rgb(255, 255, 255, 0.7); */
	position: absolute;
	margin: 0 auto;
	font-family: "marigold", sans-serif;
	/* font-weight: 900; */
	font-weight: bolder;
	font-size: xx-large;
	animation: smith-cj 3000ms ease-in-out 1000ms infinite;
}
/**/
img.header__image {
	object-fit: contain;
	border-radius: 100%;
	width: 96px;
	height: 96px;
	object-position: initial;
	display: block;
}
@media only screen and (min-width: 600px) {
	.all__body__index {
		/* border: solid red 1px; */
		width: 100%;
		/* height: 100%; */
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.smith__image {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#fond__acceuil {
		object-fit: contain;
		/* border: solid red 1px; */
		width: 500px;
		height: 500px;
		overflow: hidden;
		/* width: 100%; */
		height: 100%;
	}
	#dechirure {
		/* border: solid black 1px; */
		width: 500px;
		height: 150px;
		overflow: hidden;
	}
	#bounce__phrase {
		/* border: solid green 1px; */
		/* padding: 35px; */
		font-size: 35px;
	}
}
