html {
	font-size: 13px;
	box-sizing: border-box;
	font-family: "Fredoka One", sans-serif;
	background-color: #e38334;
	font-weight: 400;
}

div.__header {
	border: solid red 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: center;
	margin-top: 12px;
	margin-bottom: 32px;
	width: 100%;
	/* height: 100%; */
}

div.header__title {
	text-align: center;
	color: white;
	margin-top: 5px;
}
.profil-smith-cj {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5px;
	max-width: 100%;
	text-overflow: ellipsis;
}
.description-profil-smith-cj {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 1.5;
}
img.header__image {
	object-fit: contain;
	border-radius: 100%;
	width: 96px;
	height: 96px;
	object-position: initial;
	display: block;
}
